--swift-version 6.0
--language-mode 6
--exclude *
--unexclude Project.swift
--unexclude Package.swift
--unexclude App

--enable acronyms
--enable blankLineAfterSwitchCase
--enable blankLinesAfterGuardStatements
--enable blankLinesBetweenImports
--enable blockComments
--enable docComments
--enable emptyExtensions
--enable environmentEntry
--enable isEmpty
--enable markTypes
--enable noExplicitOwnership
--enable noGuardInTests
--enable organizeDeclarations
--enable preferSwiftTesting
--enable privateStateVariables
--enable propertyTypes
--enable redundantEquatable
--enable redundantMemberwiseInit
--enable redundantProperty
--enable singlePropertyPerLine
--enable sortSwitchCases
--enable throwingTests
--enable urlMacro
--enable wrapEnumCases
--enable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--enable wrapSwitchCases

--preserve-acronyms bundleId
--conditional-assignment always
--guard-else same-line
--header strip
--indent tab
--tab-width 4
--indent-case true
--init-coder-nil true
--organization-mode type
--single-line-for-each convert
--property-types inferred
--short-optionals always
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--func-attributes prev-line
--type-attributes prev-line
--wrap-enum-cases with-values
